<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" href="https://faviconka.ru/ico/1/faviconka.ru_1_105913.ico" type="image/x-icon">
    <title>Hello, world!</title>
</head>
<body>
<div class="p-2 text-white bg-dark">
    <div class="row">
        <div class="m-2 font-weight-bold" th:utext="${loggedUser.getEmail()}">&nbsp</div>
        <div class="m-2">witch roles:</div>
        <div class="col-9 m-2 text-uppercase" th:utext="${loggedUser.getRoles()}"></div>
        <a class="m-2 text-right text-secondary text-decoration-none" th:href="@{/logout}"> Logout </a>
    </div>
</div>

<div class="row">
    <div class="col-2 m-3 p-0">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
               aria-controls="v-pills-home" aria-selected="true">Admin</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
               aria-controls="v-pills-profile" aria-selected="false">User</a>
        </div>
    </div>

    <div class="col-9 tab-content" id="v-pills-tabContent">
        <!--        Вкладка ADMIN-->
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
            <h2>Admin panel</h2>
            <div class="card text-center">
                <div class="card-header">
                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-userTable-tab" data-toggle="tab"
                               href="#nav-userTable"
                               role="tab" aria-controls="nav-userTable" aria-selected="true">User table</a>
                            <a class="nav-item nav-link" id="nav-newUser-tab" data-toggle="tab" href="#nav-newUser"
                               role="tab" aria-controls="nav-newUser" aria-selected="false">New User</a>
                        </div>
                    </nav>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-userTable" role="tabpanel"
                             aria-labelledby="nav-userTable-tab">

                            <!--ListUser-->
                            <div class="m-3">
                                <h5 class="text-left">All users</h5>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last name</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Role</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody id="usersListTable">

                                </tbody>
                            </table>
                        </div>

                        <!--                        Модалка Edit-->

                        <div class="modal fade" tabindex="-1" id="editModalWindow"
                             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-container">
                                            <div>ID</div>
                                            <input class="form-control" type="text" id="idEdit" readonly>
                                            <div>First name</div>
                                            <input class="form-control" type="text" id="nameEdit">
                                            <div>Last name</div>
                                            <input class="form-control" type="text" id="lastNameEdit">
                                            <div>Email</div>
                                            <input class="form-control" type="text" id="emailEdit">
                                            <div>Password</div>
                                            <input class="form-control" type="text" id="passwordEdit">
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect2">Roles</label>
                                                <select multiple class="form-control"
                                                        id="exampleFormControlSelect2">
                                                    <option id = "selectEdit"></option>
                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal" id="closeEdit">Close
                                                </button>
                                                <button type="button" onclick="editButton()" class="btn btn-primary btn-sm">Edit
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--                        Модалка Delete-->
                        <div class="modal fade" tabindex="-1" id="deleteModalWindow"
                             role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-container">
                                            <div>ID</div>
                                            <input class="form-control" type="text" id="idDelete"
                                                   readonly>
                                            <div>First name</div>
                                            <input class="form-control" type="text" id="nameDelete"
                                                   readonly>
                                            <div>Last name</div>
                                            <input class="form-control" type="text" id="lastNameDelete"
                                                   readonly>
                                            <div>Email</div>
                                            <input class="form-control" type="text" id="emailDelete"
                                                   readonly>
                                            <div class="form-group">
                                                <label for="exampleFormControlSelect2">Roles</label>
                                                <select multiple class="form-control"
                                                         readonly id="selectDelete">

                                                </select>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-dismiss="modal" id="closeDelete">Close
                                                </button>
                                                <button type="button" onclick="deleteButton()" class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="tab-pane fade" id="nav-newUser" role="tabpanel" aria-labelledby="nav-newUser-tab">
                            <div class="m-3">
                                <h5 class="text-left">Add new User</h5>
                            </div>
                            <div class="container bg-white">
                                <form class="form-signin mx-auto font-weight-bold text-center p-3"
                                      style="width: 300px;">
                                    <p>
                                        <label for="newName">First name</label>
                                        <input class="form-control form-control-sm" type="text"
                                               name="name" id="newName" placeholder="First name" required autofocus>
                                    </p>
                                    <p>
                                        <label for="newLastName">Last name</label>
                                        <input class="form-control form-control-sm" type="text"
                                               name="lastName" id="newLastName" placeholder="Last name">
                                    </p>
                                    <p>
                                        <label for="newEmail">E-mail</label>
                                        <input class="form-control form-control-sm" type="email"
                                               name="email" id="newEmail" placeholder="Email" required>
                                    </p>
                                    <p>
                                        <label for="newPasswd">Password</label>
                                        <input class="form-control form-control-sm" type="password"
                                               name="password" id="newPasswd" placeholder="Password" required>
                                    </p>
                                    <p>
                                        <label for="newRoles">Role</label>
                                        <select class="form-control form-control-sm" id="newRoles" name="rolesArr"
                                                multiple
                                                size="2" required>
                                            <option th:each="role : ${listRoles}"
                                                    th:value="${role.getId}"
                                                    th:text="${role.getRole}">
                                            </option>
                                        </select>
                                    </p>
                                    <button type="button" class="btn btn-success" onclick="addNewUser()">Add new user
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Вкладка USER-->
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
            <h2>User information-page</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody id="userInfo">

                </tbody>
            </table>
        </div>
    </div>


    <!-- Optional JavaScript -->


    <script src="../static/listUser.js"></script>
    <script src="../static/addNewUser.js"></script>
    <script src="../static/userInfo.js"></script>
    <script src="../static/pageHeader.js"></script>
    <script src="../static/modalDelete.js"></script>
    <script src="../static/modalEdit.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>